body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
button.accordion {
    background-color: grey;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 275px;
    text-align: left;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: grey;
}

div.panel {
    padding: 0 18px;
    background-color: yellow;
    display: none;
}
